h1{
    color: red;
    text-align: center;
    font-family: "DejaVu Sans";
}
label{
    color: black;
    text-align: center;
}
body{
    background-color: gray;
    border: 2px solid black;
}
input{
    color: green;

}