#kenya{
    color: black;
    text-align: center;
    padding: 16px;
    background-color: orange;
}
#Tanzania{
    color: black;
    text-align: center;
    padding: 16px;
    background-color: yellowgreen;
}
#Uganda{
    color: black;
    text-align: center;
    padding: 16px;
    background-color: gray;
}